<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пациента</title>
</head>
<body>
<h2>Добавление пациента</h2>
<form action="#" th:action="@{/add_patient}" method="post" th:object="${patient}">
    <label>Фамилия, имя, отчество: </label>
    <input type="text" th:field="*{fullName}"><br/>

    <label>Дата рождения: </label>
    <input type="text" th:field="*{dateOfBirth}"><br/>

    <label>Диагноз: </label>
    <select th:field="*{diagnosis}">
        <option th:each="diag : ${allDiagnosis}" th:value=${diag} th:text="${diag}"/>
    </select> <br/>

    <label>Дата поступления: </label>
    <input type="text" th:field="*{dateOfAdmission}"><br/>

    <label>Дата выписки: </label>
    <input type="text" th:field="*{dateOfDischarge}"><br/>

    <label>Номер отделения: </label>
    <input type="text" th:field="*{departmentId}"><br/>

    <button type="submit">Ввести данные</button>
</form>
</body>
</html>